.contained_btn {
  background-color: var(--Marine-blue);
  color: var(--White);

  &:hover {
    opacity: 0.9;
    transition: all 1s ease-in;
  }

  &:disabled {
    opacity: 0.5;
    background-color: var(--Cool-gray);
  }
}

.btn {
  color: var(--Cool-gray);
  background-color: inherit;

  &:hover {
    color: var(--Marine-blue);
    transition: all 1s ease-in;
  }
}
