.Input_wrap {
  width: 100%;
  margin-top: 1rem;

  div {
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .label {
      color: var(--Marine-blue);
    }

    .error {
      color: var(--Strawberry-red);
      font-size: 14px;
    }
  }

  .input {
    border: 1px solid var(--Light-gray);
    outline: 0;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    color: var(--Marine-blue);
    font-weight: 500;
    width: 100%;
    display: block;
    background-color: inherit;

    &::placeholder {
      color: var(--Cool-gray);
    }

    &:focus {
      border: 1px solid var(--Marine-blue);
    }

    &:user-invalid {
      border: 1px solid var(--Strawberry-red);
    }
  }
}
